.menu-top {
  // display: flex;
  align-content: center;

  &__logo {
    float: left;
    display: flex;
    margin-right: 40px;
    margin-top: 12px;

    img {
      width: 40px;
      height: auto;
    }
  }
}
